.thumbnail-image {
    width: 25px;
    height: 100%;
}
.thumbnail-image-2 {
    width: 23px;
    height: 100%;
}
.navBar-logimg {
    width: 100%;
    height: 40px;
}
.socialMedia-img {
    width: 25px;
    height: 25px;
}
.footer-logimg {
    width: 320px;
    height: 40px;
}
.footericon {
    width: 20px;
    height: 20px;
}

.carousel-image {
    width: 100%;
    height: auto; /* Ensures images maintain their aspect ratio */
    object-fit: cover; /* Ensures images cover the container */
  }
  
  /* Optional: Additional customizations */
  .carousel {
    max-width: 100%;
    margin: auto;
  }

.bestSellerCarosuel {
    width: 290px;
    height: 290px;
}
.restaurantCard-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
.loginImage {
    height: 970px;
    width: 550px;
}
.inputBox-width {
    width: 350px;
}
.loginBackground {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.signup-Background {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.restaurant-image {
    width: 250px;
    height: 250px;
}
.menuItemimage {
    width: 190px;
    height: 190px;
}
.secondHEader {
    text-shadow: 5px 2px 5px #ffc400;
}
.profilepage-image {
    width: 150px;
    height: 150px;
}
.tabHeight {
    min-height: 400px;
}
.allPage-height{
    min-height: 700px;
}

.rating-icon{
    height: 18px;
    width: 18px;
}

.image-container {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

.page-review{
    height: 25px;
    height: 25px;
}

/*Best Seller Design*/

.bestseller-image-wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: 250px; 
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bestseller-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .bestseller-image:hover,
  .bestseller-image:active {
    transform: scale(1.2);
  }
  

@media (max-width: 768px) {
  .carousel-item {
    padding: 10px;
  }
}